body {
    background-color: #18363E;
}

h1 {
color: #FBB454;
}

h3 {
color: #FBB454;
}

hr {
    border-style: dotted none none;
    /* alternative 
    border-style: none;
    border-top--style: dotted;
    */
    border-color: white;
    border-width: 5px;
    width: 5%; 
}